/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Lobster&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; paras
font-family: 'Lobster', cursive; headings */ 
/* resets */
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --blue:#31318d;
    --brownish : #572f2f;
    --golden:#c9ae19;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    min-height:100vh;
    width:100vw;
    background:#f8f6f6;
    overflow-x: hidden;
   position: relative;
}