/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Lobster&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; paras
font-family: 'Lobster', cursive; headings */ 
/* resets */
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --blue:#3838b8;
    --sea-green:#137949;
    --brownish : #572f2f;
    --golden:#c9ae19;
    --white:#fffffe;
    --violet:#661a66;
    --light-grey:#f8faff;
    --rose-pink:#a70e48;
    --pink:#ff258b;
    --glass:#20202027;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{text-decoration: none;}
h1,h2,h3,p,li{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
input{
    outline:none;
}
.App{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background:black;
    font-family: 'IBM Plex Sans', sans-serif; 
}


