/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Lobster&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; paras
font-family: 'Lobster', cursive; headings */ 
/* resets */
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --blue:#3838b8;
    --sea-green:#137949;
    --brownish : #572f2f;
    --golden:#c9ae19;
    --white:#fffffe;
    --violet:#661a66;
    --light-grey:#f8faffe7;
    --pink:#ff258b;
    --glass:#20202027;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    min-height:100vh;
    width:100vw;
    background:var(--light-grey);
    overflow-x: hidden;
    position: relative;
    font-family:sans-serif;
}


