
.image-carousel{
    position:relative;
    height: 12rem;
    width:12rem;
    margin:3rem auto;
    transform-style: preserve-3d;
    animation: carouselMove 25000ms infinite linear ;
}
@keyframes carouselMove {
    from{
        transform: perspective(100rem) rotateY(0deg);
    }
    to{
        transform:perspective(100rem) rotateY(360deg);
    }
}
.image-carousel span:nth-child(1){
    --i:1;
}
.image-carousel span:nth-child(2){
    --i:2;
}
.image-carousel span:nth-child(3){
    --i:3;
}
.image-carousel span:nth-child(4){
    --i:4;
}
.image-carousel span:nth-child(5){
    --i:5;
}
.image-carousel span:nth-child(6){
    --i:6;
}
.image-carousel span:nth-child(7){
    --i:7;
}
.image-carousel span:nth-child(8){
    --i:8;
}
.image-carousel span{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    /* border-radius: 50%; */
    transform-origin: center;
    transform-style: preserve-3d;
    transform:  rotateY(calc(var(--i)*45deg)) translateZ(20rem);
}
.image-carousel span img{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    height:20rem;
    width: 100%;
    box-shadow:  0 0 10px grey;
    transition: 250ms;
}
.image-carousel span img:hover{
    transform: translateY(-0.8em);
}

@media screen and (max-width:700px){
    .image-carousel span img{
        transform:scale(0.79);
    }
}

@media  screen and (max-width:500px) {
    .image-carousel span img{
        transform: scale(0.67);
    }
}