#banner-text-clip{
    background: url('./assets/textBgImage.jpg') no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition:animation 1000ms;
    animation:sexymoves 8000ms infinite alternate;
}
@keyframes sexymoves{
    0%{
        background-position: 50% 20%;
    }
    100%{
        background-position: 100% 40%;
    }
}