/* #banner-text-clip{
    background: linear-gradient(white,#ccc4c4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    background-size: 150% 150%;
    transition:animation 1000ms;
    animation:sexymoves 6000ms infinite alternate;
}
@keyframes sexymoves{
    0%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 100% 0%;
    }
} */