.navbar-wrapper{
    height: 7rem;
    width: 100vw;
    /* background:pink; */
    position: fixed;
    z-index: 9999;
    backdrop-filter: blur(8px);
}
.navbar-wrapper nav{
    height: 100%;
    width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: absolute;
    left:5vw;
    font-size: 2rem;
    color:white;
}
.nav-btn{
    position: absolute;
    right: 5vw;
    font-size: 1.2rem;
    padding:0.8rem 1.6rem;
    border-radius: 1.5rem;
    color:white;
    background:hotpink;
    border:none;
}
.nav-btn:hover{
    box-shadow: 0 0 7px hotpink;
    transform: scale(1.005);
}